# Python caches
__pycache__/
*.pyc
.ipynb_checkpoints/

# Pixi environment
.pixi/
pixi.lock

# Build tools
dist/
build/
*.egg-info/

# Testing and Training caches
.pytest_cache/
wandb/
tests/

# AiiDA and Data outputs
*.zarr/
*.xyz
*.out
*.txt

# xTB files for testing
*.mol
charges
wbo
xtbrestart
